:root{
  --grey: #434455;
--background-color:#2e2f42;
--blu-color:#4d5ae5;
--dark-grey: #8e8f99;
  --white-color: #FFFFFF;
  --light-green: #31d0aa;
  --light-white: #f4f4fd;
  --dark-blu: #404bbf;

}


/*body*/

body{font-family:"Roboto",sans-serif ;
color:var(--grey);
background-color:var(--white-color);}

/*header,logo,menu*/

.logo{
  font-family:"Raleway",sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--blu-color);
  text-decoration: none;
}
.link{text-decoration: none;}

.link:hover{
  color:#404bbf ;
}
.link:focus{
color: #404bbf;
}

.logo-color{
  color:var(--background-color);
  
}


.list-a{
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--background-color);
}

.list-b{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--grey);
}

.list-a:hover{
  color: #404bbf;
}
.list-a:focus{
  color: #404bbf;
}


/*address*/

.address{
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--background-color);
 

}
/*section1*/


.section-one{
  background-color:var(--background-color);

  }
  .section-effective{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color:var(--white-color);
  }
  .section-but{
    background-color:var(--blu-color);
    font-family:"Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:0.04em;
    color:var(--white-color);
    cursor: pointer;
  }
  .section-but:hover{
    background-color:var(--dark-blu);
  }
    .section-but:focus{
      background-color:var(--dark-blu);
    }
  .features-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--background-color);
  }

  
  /*section-2*/

  .features-head{
    font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color:var(--background-color);
  }
.features-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*section-3*/

.section-img{
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color:var(--background-color);
  background-color:var(--white-color);
}
/*section-4*/
.list{
  background-color:var(--white-color);
}
.section-format-img{
  background-color:var(--light-white);
}
.section-picter{
  background-color:var(--white-color);
}
/*Footer*/



.logo-footer{
  color:var(--light-white);
}
.footer-text{
  color:var(--light-white);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.desing-all{font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:var(--blu-color);
  background-color:var(--light-white);
  cursor: pointer;
}
.desing-all:hover{
  color:var(--white-color);
  background-color:var(--dark-blu);
}
.desing-all:focus{
  color:var(--white-color);
  background-color:var(--dark-blu);
}
.card-name{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:var(--background-color);
}
.card-paragraf{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--grey);
   
}
.footer-page{
  background-color:var(--background-color);
}

